@model final.Models.jobs

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="alert alert-danger" id="err" style="display:none">
    <span id="view"></span>
</div>

@using (Html.BeginForm("Edit","jobs", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.image)
        <div class="form-group">
            <label class="control-label col-md-2">Company Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CompanyName, new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Address for Company</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AddressCompany, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AddressCompany)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Name of Job</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Details of Job</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.details, new { @id="detail" })
                @Html.ValidationMessageFor(model => model.details)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" >Picture of Job</label>
            <div class="col-md-10">
                <input type="file" name="upload" id="picture" class="control-label col-md-2" />
                 @Html.ValidationMessageFor(model => model.image)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Groub of Job</label>
            <div class="col-md-10">
                @Html.DropDownList("catigid", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.catigid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" id="save"  class="btn btn-default"  />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")}
@section Script {
    
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
     
<script>

    CKEDITOR.replace("detail");
    $(function () {
       
        $("#save").click(function() {
            //    if ($("#picture").val() == "") {
            //        $("#err").fadeIn();
            //        $("#view").text("please select image");
            //        return false;
            //    }
       

            //  check  extention for image
            if($("#picture").val() != "")
            {
                var filename = document.getElementById("picture").value;
                var extention = filename.substr(filename.lastIndexOf('.') + 1);
                var validation = ['jpg', 'png', 'gif'];
                if ($.inArray(extention, validation) == -1)
                {
                    $("#err").fadeIn();
                    $("#view").append("invaild extention of file ");
                    return false;

                }

                //  check size for image

                var filesize = document.getElementById("picture").files[0].size / 1024 / 1024;
                if (filesize > 2)
                {
                    $("#err").fadeIn();
                    $("#view").append("size of file is larg");
                    return false;

                }

            }
           
            });



        });
    
</script>
    }



